<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306464648352-skb09ve6rcs13m7kl8ca4c3jhg6jvsjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306464648352-skb09ve6rcs13m7kl8ca4c3jhg6jvsjb</string>
	<key>API_KEY</key>
	<string>AIzaSyCmjq1YNgUxPtMhjAsTqvxgN2R-LBGpMvo</string>
	<key>GCM_SENDER_ID</key>
	<string>306464648352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lvCaller</string>
	<key>PROJECT_ID</key>
	<string>lv-caller</string>
	<key>STORAGE_BUCKET</key>
	<string>lv-caller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306464648352:ios:487f4b49d9553814d82dc5</string>
</dict>
</plist>